<center>

<div id = "image"><%= image_tag(@random_image_html) %></div>

<form action="/random_images" method = "get">
<input type="submit" value="Change kitty piccy">
</form>

</center>

<script>
  setTimeout(function() {
    location.reload();
  }, 3000);
</script>
