<link rel="stylesheet" src="stylesheets/random_image.css"></link>

<br /><br />

<center>
  <div class="add-space">
    <iframe class="amazon-add" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=acebook0d8-21&marketplace=amazon&region=GB&placement=178125091X&asins=178125091X&linkId=9c0ff506cdde7b2d0939a17767ccb806&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
    <br /><br />
    <iframe class="amazon-add" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=acebook0d8-21&marketplace=amazon&region=GB&placement=1449319793&asins=1449319793&linkId=d479ec0e49aa6294f66338177c632541&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </div>

  <section id="image-holder">
    <div id ="random-image">
      <%= image_tag(@random_image_html) %>
    </div>
  </section>

  <div class="add-space">
    <iframe class="amazon-add" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=acebook0d8-21&marketplace=amazon&region=GB&placement=0131103628&asins=0131103628&linkId=799281e30968e43e85523887072eff25&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <br /><br />
    <iframe class="amazon-add" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=acebook0d8-21&marketplace=amazon&region=GB&placement=B072BZKP61&asins=B072BZKP61&linkId=d5bc0b52732d0e42d02f2bfc94820333&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </div>
</center>

<script>
  setTimeout(function() {
    location.reload();
  }, 3000);
</script>
