<h1> Profile Details </h1>

  <%= form_for @user, url: {action: 'update'}, method: :put do |form| %>

    <%= render partial: '/users/form', object: form %>
    <%= form.submit "Submit" %>

  <% end %>
