

<h1>A New Shiney thing for you to do!</h1>
<p><%= @message %></p>

<img src="https://www.floridamemory.com/fpc/commerce/com02436.jpg">
<a href="https://www.floridamemory.com/fpc/commerce/com02436.jpg"> LAMA</a>
